<div data-hook="admin_google_shopping_integration_form_fields" class="row">
  <div class="alpha four columns">
    <div data-hook="name" class="field">
      <%= label_tag nil, Spree.t(:name) %>
      <%= text_field :google_shopping_integration, :name, :class => 'fullwidth' %>
    </div>
    <div data-hook="version" class="field">
      <%= label_tag nil, Spree.t(:version) %>
      <%= text_field :google_shopping_integration, :version, :class => 'fullwidth' %>
    </div>
    <div data-hook="url" class="field">
      <%= label_tag nil, Spree.t(:url) %>
      <%= text_field :google_shopping_integration, :url, :class => 'fullwidth' %>
    </div>
    <div data-hook="merchant_id" class="field">
      <%= label_tag nil, Spree.t(:merchant_id) %>
      <%= text_field :google_shopping_integration, :merchant_id, :class => 'fullwidth' %>
    </div>
    <div data-hook="channel" class="field">
      <%= label_tag nil, Spree.t(:channel) %>
      <%= text_field :google_shopping_integration, :channel, :class => 'fullwidth' %>
    </div>
    <div data-hook="content_language" class="field">
      <%= label_tag nil, Spree.t(:content_language) %>
      <%= text_field :google_shopping_integration, :content_language, :class => 'fullwidth' %>
    </div>
    <div data-hook="target_country" class="field">
      <%= label_tag nil, Spree.t(:target_country) %>
      <%= text_field :google_shopping_integration, :target_country, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="omega four columns">
    <div data-hook="private_key_path" class="field">
      <%= label_tag nil, Spree.t(:private_key_path) %>
      <%= text_field :google_shopping_integration, :private_key_path, :class => 'fullwidth' %>
    </div>
    <div data-hook="private_key_password" class="field">
      <%= label_tag nil, Spree.t(:private_key_password) %>
      <%= text_field :google_shopping_integration, :private_key_password, :class => 'fullwidth' %>
    </div>
    <div data-hook="service_account_email" class="field">
      <%= label_tag nil, Spree.t(:service_account_email) %>
      <%= text_field :google_shopping_integration, :service_account_email, :class => 'fullwidth' %>
    </div>
    <div data-hook="active" class="field">
      <%= label_tag nil, Spree.t(:active) %>
      <ul>
        <li>
          <%= radio_button(:google_shopping_integration, :active, true) %>
          <%= Spree.t(:say_yes) %>
        </li>
        <li>
          <%= radio_button(:google_shopping_integration, :active, false) %>
          <%= Spree.t(:say_no) %>
        </li>
      </ul>
    </div>
    <div data-hook="test" class="field">
      <%= label_tag nil, Spree.t(:test) %>
      <ul>
        <li>
          <%= radio_button(:google_shopping_integration, :test, true) %>
          <%= Spree.t(:say_yes) %>
        </li>
        <li>
          <%= radio_button(:google_shopping_integration, :test, false) %>
          <%= Spree.t(:say_no) %>
        </li>
      </ul>
    </div>

    <div data-hook="admin_product_form_taxons">
      <%= field_container :google_shopping_integration, :taxons do %>
        <%= label :google_shopping_integration, :taxon_ids, Spree.t(:taxons) %><br />
        <%= hidden_field :google_shopping_integration, :taxon_ids, :value => @object.taxon_ids.join(',') %>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

  <div data-hook="additional_google_shopping_integration_fields"></div>

</div>
